<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.amu.wmi.oblicze.konferika">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.edu.amu.wmi.oblicze.konferika.activities.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="pl.edu.amu.wmi.oblicze.konferika.activities.MyScheduleActivity"
            android:launchMode="singleTask" />
        <activity android:name="pl.edu.amu.wmi.oblicze.konferika.activities.ItemDetailsActivity" />
        <activity android:name="pl.edu.amu.wmi.oblicze.konferika.activities.PosterActivity" />
        <activity android:name="pl.edu.amu.wmi.oblicze.konferika.activities.PosterDetailsActivity" />
        <activity android:name="pl.edu.amu.wmi.oblicze.konferika.activities.BaseActivity" />
        <activity android:name="pl.edu.amu.wmi.oblicze.konferika.activities.PollActivity" />
        <activity android:name="pl.edu.amu.wmi.oblicze.konferika.activities.TagsActivity" />
        <activity android:name="pl.edu.amu.wmi.oblicze.konferika.activities.TagDataActivity" />

        <provider
            android:name="pl.edu.amu.wmi.oblicze.konferika.data.DataProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <activity
            android:name="pl.edu.amu.wmi.oblicze.konferika.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pl.edu.amu.wmi.oblicze.konferika.activities.StopActivity"></activity>
    </application>

</manifest>