<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.android.konferika">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.MyScheduleActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activities.ItemDetailsActivity" />
        <activity android:name=".activities.PosterActivity" />
        <activity android:name=".activities.PosterDetailsActivity" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.PollActivity" />
        <activity android:name=".activities.TagsActivity" />
        <activity android:name=".activities.TagDataActivity" />

        <provider
            android:name=".data.DataProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.StopActivity"></activity>
    </application>

</manifest>